* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 16px;
  line-height: 1.4;
  font-family: sans-serif;
  color: hsl(0, 0%, 10%);
  background-image: linear-gradient(
    to right top,
    #051937,
    #004d7a,
    #008793,
    #00bf72,
    #a8eb12
  );
}

.font-larger {
  font-size: 1.5rem;
}

/* #16 */
.header__title {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 85vw;
  margin: 0 auto;
  color: hsla(0, 0%, 100%, 0.9);
  z-index: -1;
}

/* #12 */
nav {
  position: fixed;
  bottom: 0;
  height: 3.5rem;
  width: 100%;
  background-color: hsl(0, 0%, 95%);
  border-radius: 2rem 2rem 0 0;
  box-shadow: 0px 5px 10px 0px hsl(237, 31%, 10%);
  z-index: 1;
}

/* #13 */
nav ul {
  height: 100%;
  width: 80%;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  align-items: center;
  list-style: none;
  padding-inline-start: 0;
}

/* #14 */
nav ul li {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  text-align: center;
  font-size: 1rem;
  line-height: 3.5rem;
  font-weight: 700;
  cursor: pointer;
  transition: font-size 0.3s;
}

/* #15 */
nav ul li:hover {
  font-size: 1.3rem;
}

/* #17 */
main {
  margin: 4.5rem 0 5rem;
}

/* #2 */
.user__container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 90vw;
  margin: 0 auto;
  padding: 0;
}

/* #1 */
.user__card {
  display: flex;
  flex-direction: column;
  list-style: none;
  max-width: calc(100vw - 3.25rem);
  margin: 1rem 0.5rem;
  border-radius: 1rem;
  background-color: hsl(0, 0%, 95%);
  overflow: hidden;
  transition: all 0.3s;
}

/* #11 */
.user__card:hover {
  transform: scale(1.05);
  box-shadow: 0px 5px 10px 0px hsl(237, 31%, 10%);
}

/* #3 */
.user__card img {
  object-fit: cover;
  height: 200px;
}

/* #4 */
.user__card-body {
  padding: 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.user__name {
  display: -webkit-box;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

/* #10 */
.user__card a {
  color: hsl(0, 0%, 40%);
}

/* #5 */
@media (min-width: 768px) {
  .user__container {
    flex-direction: row;
  }

  .user__card {
    flex-direction: row;
    flex-basis: 100%;
  }

  .user__card img {
    height: 128px;
  }
}

@media (min-width: 1024px) {
  /* #18 */
  .header__title {
    width: 65vw;
  }

  /* #9 */
  .user__container {
    justify-content: center;
    max-width: 70vw;
  }

  /* #6 */
  .user__card {
    /* max-width: 45%; */
    flex-basis: 45%;
    margin: 1rem;
  }

  /* #7 */
  /* .user__card-body {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  } */

  /* #8 */
  /* .user__name {
    display: -webkit-box;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  } */
}
